<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flask Auth Example</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    </head>
    <body>
        <section class="hero is-fullheight">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                <a href="{{ url_for('main_blueprint.index') }}" class="navbar-item">
                                Home
                                </a>
                                {% if current_user.is_authenticated %}
                                <a href="{{ url_for('profile_blueprint.profile') }}" class="navbar-item">
                                Profile
                                </a>
                                {% endif %}
                                {% if not current_user.is_authenticated %}
                                <a href="{{ url_for('auth_blueprint.login') }}" class="navbar-item">
                                Login
                                </a>
                                <a href="{{ url_for('auth_blueprint.signup') }}" class="navbar-item">
                                Sign Up
                                </a>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                <a href="{{ url_for('auth_blueprint.logout') }}" class="navbar-item">
                                Logout
                                </a>
                                {% endif %}
                                {% if current_user.is_authenticated %}
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link">
                                    More
                                    </a>
                                    <div class="navbar-dropdown">
                                        <a href="{{ url_for('navdropdown_blueprint.upload') }}" class="navbar-item">
                                        Upload file
                                        </a>
                                        <hr class="navbar-divider">
                                        <a href="{{ url_for('navdropdown_blueprint.institutions') }}" class="navbar-item">
                                        Institutions
                                        </a>
                                        <a href="{{ url_for('navdropdown_blueprint.projects') }}" class="navbar-item">
                                        Projects
                                        </a>
                                        <a href="{{ url_for('navdropdown_blueprint.reports') }}" class="navbar-item">
                                        Reports
                                        </a>
                                    </div>
                                </div>
                                {% endif %}    
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </body>
</html>