<!-- templates/institutions.html -->
{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
    <div class="column is-4 is-offset-4">
        <h1 class="title">Available Institutions Page</h1>
        <h2 class="subtitle">Add or Update an Institution:</h2>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            {{ render_form(form) }}
            <script>
                const selectField = document.querySelector('#institution');
                const infoField = document.querySelector('#info');
                const nameField = document.querySelector('#inst_name');
                const codeField = document.querySelector('#inst_code');
            
                selectField.addEventListener('change', () => {
                    // Fetch dynamic placeholder based on selected value
                    fetch(`/get_placeholder/${selectField.value}`)
                        .then(response => response.text())
                        .then(data => {
                            const dataArray = JSON.parse(data)

                            
                            nameField.placeholder = dataArray[0];
                            codeField.placeholder = dataArray[1];
                            infoField.placeholder = dataArray[2];

                        })
                        .catch(error => console.error('Error:', error));
                });
            </script>

        </div>
    </div>
{% endblock content %}