<!-- templates/upload.html -->

{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h1 class="title">Upload Page</h1>
        <h2 class="subtitle">Add a Document:</h2>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" enctype=multipart/form-data action="{{ url_for('navdropdown_blueprint.upload') }}">
                {{ form.csrf_token() }}

                <div class="file has-name is-fullwidth">
                  <label class="file-label">
                   {{ form.file(class="file-input is-fullwidth") }}
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Choose a file…
                      </span>
                    </span>
                    <span class="file-name">
                      {{request.form.get('file')}}
                    </span>

                  </label>
                </div>

                
                {{ form.project_id }}
                {{ form.institution }}
                {{ form.service }}
                {{ form.info }}
                {{ form.submit }}
            </form>
        </div>
    </div>

    
{% endblock content %}